div.row{
    height: 50px;
    width: 1002px;
    
 
}

div.col-sm{
    max-width: 50px;
    border: black;
    border-style: inset;
    background-image: url('../public/block.png');
    background-size: contain;
}
div.col-sm:hover {
    opacity:1.0;
    filter:alpha(opacity=100); 
  }